.toc {
  border: 1px dotted rgb(127, 127, 127);
  padding: 4px 3px 0px 10px;
  min-width: 100px ! important;
  float: right ! important;
  font-size: 80%;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-left: 20px;
  visibility: visible;
  max-width: 50%;
  width: 35%;
}

.toc p {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* override */
.post_tier {
  padding: 0px;
}


.card {
  margin-top: 30px;
  min-height: 370px;
  max-height: 370px;
  position: relative;
  padding: 30px;
}

.card-logo {
  max-height: 100px;
}

/* When cards stacked vertically */
@media (max-width: 991px ) {
  .card {
    min-height: 300px;
    max-height: 300px;
  }
  .card-logo {
    max-height: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-logo {
    max-height: 80px;
  }
}

.icon-wrapper {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  margin-left: 5px;
}

.icon-button {
  float: left;
  width: 30px;
  margin: 5px;
}

.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
}

.thumbnail-description {
  min-height: 40px;
}

/* .thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
} */

/* override for tiers */
.hero-tier{
  max-height: 505px;
}