---
layout: default
---

<div class="tier tier-right tier-white">
    <img class="tier-img" src="{{site.baseurl}}/img/hero/10695.jpg" alt="" />
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="hdg hdg_hero hdg_spaced">{{ page.title }}</h1>
        </div>
    </div>
</div>

{% assign conferences = site.data.conferences %}

{% for conference in conferences %}
    {% if conference %}
        {% assign mod = forloop.index | modulo: 2 %}
        <div class="tier {% if mod==1 %} conference-item-dark {% else %} conference-item-light {% endif %}">
            <div class="container">
                <div class="row">
                    {% if mod==1 %}
                        <div class="col-md-4 col-md-offset-1">
                            <img class="" style="max-height: 180px;" src="{{site.baseurl}}{{conference.logo}}" alt="{{conference.title}}" />
                        </div>
                        <div class="col-md-7">
                            <div class="caption">
                                <a href="{{conference.website}}" target="_blank" rel="noopener noreferrer"><h3><b>{{conference.title}}</b> -&nbsp;{{conference.location}}</h3></a>
                                <p><i>{{conference.date}}</i></p>
                                <p>{{conference.tagline}}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% if mod==0 %}
                        <div class="col-md-4 col-md-push-7 col-md-offset-1">
                            <img class="" style="max-height: 180px; " src="{{site.baseurl}}{{conference.logo}}" alt="{{conference.title}}" />
                        </div>
                        <div class="col-md-7 col-md-pull-5 left-padding-custom">
                            <div class="caption">
                                <a href="{{conference.website}}" target="_blank" rel="noopener noreferrer"><h3><b>{{conference.title}}</b> -&nbsp;{{conference.location}}</h3></a>
                                <p><i>{{conference.date}}</i></p>
                                <p>{{conference.tagline}}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}