---
layout: default
---


<div class="tier tier-right tier-white tier1 hero-tier">
    <img class="tier-img tier-img-sm" src="{{site.baseurl}}/img/hero/hero-sitting-sm.jpg" alt="" />
    <img class="tier-img tier-img-lg" src="{{site.baseurl}}/img/hero/hero-sitting-lg.jpg" alt="" />
	<div class="container">
        <div class="col-sm-8">
			<h1 class="hdg hdg_1">{{page.head_h}}</h1>
			<p>{{page.head_p}}</p>
            <a class="btn btn-tertiary btn-mobile" href="/blog/" role="button">Read our blog</a>
        </div>
	</div>
</div>

<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        {{ content }}
    </div>
</div>

{% assign projects = site.data.projects %}

<div class="container">
    {% for project in projects %}
        {% if project %}
            <div class="col-md-4">
                <div class="card thumbnail">
                    <img class="card-logo" src="{{site.baseurl}}{{project.logo}}" alt="{{project.title}}">
                    <div class="caption">
                        <h4>{{project.title}}</h4>
                        <p>{{project.description}}</p>
                    </div>
                    <div class="icon-wrapper">
                        {% if project.github %} 
                            <div class="icon-button" style="float:left; width: 30px; margin: 5px;">
                                <a href="{{ project.github }}" target="_blank" rel="noopener noreferrer">
                                    <img src="{{ "/img/icon/github-logo.svg" | prepend: site.baseurl }}" />
                                </a>
                            </div>
                        {% endif %}
                        {% if project.website %} 
                            <div class="icon-button" style="float:left; width: 30px; margin: 5px;">
                                <a href="{{ project.website }}" target="_blank" rel="noopener noreferrer">
                                    <img src="{{ "/img/icon/document.svg" | prepend: site.baseurl }}" />
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="tier tier-white">
    <img class="tier-img tier-img-sm" src="{{site.baseurl}}/img/hero/hero-shoes-sm.png" alt="" />
    <img class="tier-img tier-img-lg" src="{{site.baseurl}}/img/hero/hero-shoes-lg.jpg" alt="" />
    <div class="container">
        <div class="col-sm-6 col-sm-offset-6">
            <h2 class="hdg hdg_1">{{page.tail_h}}</h2>
            <p>{{page.tail_p}}</p>
            <p><a class="btn btn-tertiary btn-mobile" href="{{page.tail_button_url}}" target="_blank">{{page.tail_button}}</a></p>
        </div>
    </div>
</div>



<!-- <article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article> -->
