---
layout: default
---

<div class="tier">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <img src="/img/kubecon/kubernetes.png" />
            <h1>Hello, KubeCon!</h1>    
            <p>
                Containers and Kubernetes are at the heart of everything we do. We are looking for people who are as passionate 
                about new technologies, containers and Kubernetes as much as we are!
            </p>
            <p>
                Would you like to join us?
            </p>
            <!--<p>
                <a href="https://fixme">Apply here if you're in Germany, Austria or Switzerland</a>    
            </p>-->
            <p>
                If so, get in touch with <a href="mailto:oscar.renalias@accenture.com;jan.willies@accenture.com">Oscar Renalias and
                Jan Willies</a> .
            </p>
        </div>
    </div>
</div>

